body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #000020;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/about-bg.png);
}

.container {
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000020;
}

.error-image img {
    width: 300px;
    height: 300px;
}

.error-message {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #000020;
}

.home-button {
    display: inline-block;
    padding: 10px 30px;
    font-size: 1rem;
    color: white;
    background-color: #1d24ca;
    text-decoration: none;
    border-radius: 25px;
}

.home-button:hover {
    background-color: #d80032;
}
