body {
    font-family: "Poppins", sans-serif;
    color: #000020;
    background-color: #ffffff;
    font-weight: 500;
  }
  
.creator-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.card-header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    background-color: #f3f3f3;
    border-bottom: none;
}
.creator-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.creator-info h6 {
    margin: 0;
    font-size: 1rem;
}
.creator-info .username {
    font-size: 0.875rem;
    color: #6c757d;
}
.card-body {
    padding: 15px;
    background-color: #f3f3f3;
}
.card {
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #dee2e6;
    background-color: #f3f3f3;
    position: relative;
    padding: 0 15px 0 15px;
}

.media-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%; /* Relación de aspecto 16:9 para videos */
    overflow: hidden;
    border-radius: 30px;/* Bordes redondeados del contenedor de medios */
}

.media-container video,
.media-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px; /* Bordes redondeados del contenido */
}
.ml-auto.text-muted {
    font-size: 0.875rem;
    color: #6c757d;
    margin-left: auto;
    align-self: center;
}
h2 {
    margin-top: 20px;
}

.text-content {
    text-align: justify;
    max-height: 50px; /* Ajusta la altura según tu necesidad */
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.text-content.expanded {
    max-height: none; /* Permite que el texto se muestre completo */
}

.card-body label {
    cursor: pointer;
    display: inline-block;
    color: #000020 !important/* Color del texto del label */
}

.toggle-label:hover {
    text-decoration: underline;
}

.toggle-label.hidden {
    display: none;
}

/* Estilo para la imagen del modal */
.modal-body img {
    width: 100%; /* Ajusta el tamaño de la imagen para ocupar el ancho del modal */
    height: auto; /* Mantiene la proporción de la imagen */
    border: none; /* Elimina el borde blanco alrededor de la imagen */
}

/* Efecto de oscurecimiento sobre la imagen */
.media-container img {
    width: 100%;
    cursor: pointer; /* Cambia el cursor para indicar que la imagen se puede ampliar */
    transition: opacity 0.3s ease;
}

.media-container img:hover {
    opacity: 0.7; /* Efecto de oscurecimiento al pasar el ratón */
}

.header_section {
    background-color: #1d24ca !important; 
}

body {
    font-family: "Poppins", sans-serif;
    color: #000020;
    background-color: #ffffff;
    font-weight: 500;
    }