/* general */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
body, h1, h2, h3, h4, h5, p, .text-style, .modal-content p, .caption p {
    font-family: 'Arial', sans-serif !important;
}
p, .text-style, .modal-content p, .caption p {
    font-size: 18px;
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 20px;
}

body {
    background-size: cover;
    background-position: center;
    color: #ffffff;
    font-family: 'Arial', sans-serif !important;
}

/* Cabecera  */
.navbar {
    background-color: rgba(52, 58, 64, 0.8); 
    z-index: 1000; 
}

.navbar-brand img {
    height: 40px;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
}

.text-style {
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    padding: 50px;
    max-width: 100%;
    height: 600px; 
    margin: 0 auto;
    text-align: center;
    background-image: url('../img/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

h1, .text-style, .social-media {
    position: relative;
    z-index: 2;
}

h1 {
    margin: 0 0 20px !important;
    font-size: 50px !important; 
    text-align: center;
    padding-top: 150px  !important;
    font-weight: bold !important;
    color: #ffffff; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    letter-spacing: 2px;
}

.text-style {
    color: white;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px !important;
}

.social-media {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
}

.social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.social-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.social-icon:hover img {
    opacity: 0.8;
}

.dropdown-menu {
    background-color: rgba(52, 58, 64, 0.8);
    border: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
    color: #ffffff; 
    padding: 10px 20px; 
    transition: background-color 0.3s;
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.2); 
}

.dropdown-header {
    color: #ffdd57;
    font-weight: 600;
    padding: 10px 20px; 
}

.dropdown-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}


.close {
    color: #aaa; 
    position: absolute; 
    top: 10px; 
    right: 15px; 
    font-size: 28px; 
    font-weight: bold; 
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    background-color: #fff; 
    padding: 15px 30px; 
    border-radius: 30px !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 500px; 
    text-align: center;
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 10000; 
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); 
    justify-content: center;
    align-items: center;
}

/* Estilo para el botón de descarga */
.download-button {
    display: inline-block;
    background-color: #007bff; 
    color: #fff;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
}

.download-button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 123, 255, 0.4);
}

.modal-content h2 {
    font-family: 'Poppins', sans-serif; 
    color: #000020; 
    font-size: 32px; 
    margin-top: 15px;
    margin-bottom: 15px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); 
    letter-spacing: 1px; 
    font-weight: 600; 
}

.modal-content p {
    font-family: 'Roboto', sans-serif; 
    color: #555;
    font-size: 18px;
    line-height: 1.7;
    margin-top: 5px;
    margin-bottom: 5px; 
    text-align: justify; 
    transition: color 0.3s ease; 
}

.modal-content p:hover {
    color: #2c3e50; 
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin-top: 20px; 
}

.download-button {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: #007bff; 
    color: #fff;
    padding: 12px 20px; 
    border-radius: 30px; 
    text-decoration: none; 
    font-size: 16px; 
    font-weight: bold; 
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
}


.android-button {
    background-color: #34b54b; 
    width: 60%; 
}

.download-button:hover {
    background-color: #0056b3; 
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 123, 255, 0.4);
}

.android-button:hover {
    background-color: #3DDC84; 
}

.os-icon {
    width: 22px; 
    height: auto; 
    margin-right: 10px; 
}


.coming-soon {
    margin-top: 15px;
    font-size: 16px; 
    font-weight: bold; 
    color: #FF5733; 
    text-align: center; 
}

.google-play-container {
    background-color: #0d110e;
    border-radius: 30px; 
    padding: 10px 10px;
    margin: 15px auto; 
    color: white; 
    justify-content: center; 
    display: flex; 
    align-items: center;
    width: 60%; 
}

.google-play-text {
    font-weight: bold;
    font-size: 16px; 
}

.no-scroll {
    overflow: hidden;
}

/* Carrusel */
.caption-carousel {
    position: relative;
    width: 90%;
    max-width: 600px;
    height: auto;
    margin: 40px auto;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    padding-bottom: 80px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    background-image: url('../img/a1.png');
}

.caption-carousel::before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    height: 40px;
    background: linear-gradient(to bottom, #1d24ca, #ffffff);
    z-index: -1;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.caption {
    display: none;
    padding: 20px 30px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    animation: fadeIn 0.6s ease-in-out;
}

.caption.active {
    display: block;
}

.caption h5 {
    font-size: 28px; 
    font-weight: 700; 
    color: #000020; 
    text-align: center;
    margin-bottom: 15px;
}

.caption p {
    line-height: 1.8; 
    text-align: justify;
    margin: 0 30px; 
    font-size: 18px;
    color: #000020; 
}

#caption-4 p {
    text-align: left;
}

#caption-4 {
    padding: 30px;
    border-radius: 15px; 
}

.caption:hover {
    transform: translateY(-7px); 
}

.tablecenter {
    margin: 0 auto; 
    width: fit-content; 
    border-collapse: collapse;
    font-family: Arial, sans-serif; 
    font-size: 14px;
}

.tablecenter td {
    padding: 10px; 
    text-align: left; 
}

.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 20px; 
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-btn {
    width: 18px;
    height: 18px;
    background: #ccc; 
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s;
}

.nav-btn:hover, .nav-btn.active {
    background: #1d24ca;
    transform: scale(1.3); 
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #1d24ca;
    color: #fff;
    border: none;
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.prev:hover, .next:hover {
    background-color: #1d24ca; 
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.info {
    background-image: url('../img/info1.png'); 
    background-size: cover; 
    background-position: center; 
    padding: 40px;
    border-radius: 12px; 
    color: #fff; 
}

nav {
    background-color: #ffffff; 
}

/* Servicios */
.service_section {
    padding: 20px 0; 
    background-color: #f9f9f9;
    opacity: 0; 
    transition: opacity 0.5s ease, transform 0.5s ease; 
    transform: scale(0.3); 
    transform-origin: center; 
}

.service_section.visible {
    opacity: 1; 
    transform: scale(1); 
}

.custom_heading {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #000;
}

.custom_heading span {
    color: #d80032;
}

.col-md-4 {
    color: #000;
    text-align: center;
    margin-bottom: 20px 
    
}

.col-md-4 h6 {
    font-size: 20px;
    font-weight: bold;
}

.col-md-4 p {
    font-size: 16px;
    color: #333; 
    text-align: justify;
}

/* Galería */
.gallery_section {
    padding: 20px 0;
    background-color: #f3f4f6;
}

.section_heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 40px;
    position: relative;
}
.section_heading::after {
    content: '';
    width: 60px;
    height: 4px;
    background-color: #007bff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}

 .gallery_img-box {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.gallery_img-box img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.gallery_img-box:hover img {
    transform: scale(1.05);
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    text-align: center;
}

.lightbox img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 80vh;
    border-radius: 8px;
}

.lightbox:target {
    display: block;
}

.lightbox .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.lightbox .close:hover,
.lightbox .close:active {
    color: red;
}

#gallery {
    scroll-margin-top: 100px;
}

/* equipo */
.equipo_img-box {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    transition: transform 0.3s ease;
    width: 200px; /* Aumenta el ancho */
    height: 200px; /* Aumenta la altura */
}

.equipo_img-box img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    
}

.equipo_img-box:hover img {
    transform: scale(1.1);
}

.equipo_img-box .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.equipo_img-box:hover .overlay {
    opacity: 1;
}

.overlay .text {
    color: white;
    font-size: 0.8rem; 
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.overlay .text h5 {
    font-size: 18px; 
}

.overlay .text p {
    font-size: 8 px;
}

.custom_heading span {
    color: #d80032; 
    font-weight: bold;
}

.equipo_section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f9f9f9;
}

.shadow-lg {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Mapa */
#location-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    background-color: #d80032; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    z-index: 1000;
    transition: background-color 0.3s;
}

#location-icon:hover {
    background-color: #d80032; 
}

#map {
    position: fixed;
    bottom: 20px;  
    right: 20px;   
    width: 300px;  
    height: 300px;
    z-index: 1000; 
    border: 2px solid #ddd;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 15px;
    overflow: hidden; 
}

.info_box {
    background-color: white;
    padding: 10px;
    border-radius: 10px; 
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 80%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.info_box p {
    color: black;
    font-size: 1em;
    margin: 0
}

#close-map {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #d80032;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px 10px;
    z-index: 1001;
    font-size: 16px; 
}

#close-map:hover {
    background: darkblue; 
}

/* Informacion de contacto */
.info_section {
    background-color: #1d24ca; 
    padding: 10px 0;
    color: #fff;
    text-align: center;
}

.info_items {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 0;
}

.item {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin: 0 10px; 
}

.detail-box p {
    max-width: 150px; 
    margin: 0;
}


.img-box {
    margin-bottom: 5px;
}

.detail-box p {
    max-width: 500px;
    text-align: center; 
}

/* Pie de página */
.footer_section {
    background-color: #ffffff;
    padding: 6px; 
    text-align: center;
}

.brand-name {
    font-weight: bold;
    font-size: 1.5em; 
    margin: 10px 0;
    color: #1d24ca;
}

.brand-name2 {
    font-weight: bold;
    font-style: italic;
    color: d80032;
    font-size: 1.3em;
    margin: 5px 0; 
    color: #d80032; 
}

.footer_section p {
    margin: 10px 0; 
    font-size: 1em;
    line-height: 1.5;
    color: #000000 !important;
}

.footer_section a {
    color: #1d24ca; 
    text-decoration: none; 
}

.footer_section a:hover {
    text-decoration: underline; 
}



/* Responsive */
@media (max-width: 768px) {
    .content {
        padding: 20px;
    }

    .navbar-brand img {
        height: 35px;
        width: 95%;
    }

    h1 {
        font-size: 36px !important; 
        line-height: 1.2;
        white-space: normal;
    }

    .custom_heading {
        font-size: 28px;
    }
    .modal-content {
        width: 70%; 
    }
    .service_section {
        transform: scale(0.4);
    }

    .detail_box h6 {
        font-size: 18px;
    }

    .detail_box p {
        font-size: 14px;
    }

    .equipo_img-box {
        width: 80%;
        height: 100%; 
        background-color: #f3f3f3; 
        border-radius: 50%; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto; 
        
    }
    
    .equipo_img-box img {
        object-fit: cover; 
        border-radius: 50%; 
    }
    
    .col-sm-4 {
        max-width: 150px;
    }
    .overlay .text {
        font-size: 8px; 
    }
    
    .overlay .text h5 {
        font-size: 28px; 
    }
    
    .overlay .text p {
        font-size: 22px;
    }
    
    .info_items {
        flex-direction: column;
    }

    .item {
        max-width: 100%;
        margin-bottom: 30px;
    }
    
    p {
        font-size: 1.1em;
        width: 95%;
    }
    .content {
        padding: 10px;
    }

    .social-icons a {
        font-size: 20px;
        margin: 0 5px;
    }

    .footer_section {
        padding: 5px;
    }

    .social-icons {
        margin-bottom: 10px;
    }

    .footer_section p {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .modal-content {
        width: 90%; 
        max-width: 90%;
        padding: 10px 20px;
    }

    .modal-content h2 {
        font-size: 24px; 
    }

    .modal-content p {
        font-size: 16px; 
    }

    .button-container {
       
        width: 100%;
        align-items: center;
    }

    .google-play-container {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .modal-content {
        width: 50%; 
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .service_section {
        transform: scale(0.3);
    }
}


@media (min-width: 1025px) {
    .service_section {
        transform: scale(0.3); 
    }
}

@media (max-width: 768px) {
    .caption {
        padding: 15px 20px; 
        font-size: 14px;
    }

    .caption h5 {
        font-size: 24px; 
    }

    .caption p {
        margin: 0 15px;
        font-size: 16px; 
    }

    .nav-buttons {
        bottom: 10px;
    }

    .prev, .next {
        padding: 8px 10px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .caption {
        padding: 10px 15px;
        font-size: 12px;
    }

    .caption h5 {
        font-size: 20px; 
    }

    .caption p {
        margin: 0 10px; 
        font-size: 14px; 
    }

    .nav-btn {
        width: 15px;
        height: 15px;
    }

    .prev, .next {
        padding: 6px 8px;
        font-size: 14px;
    }
}