html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    background-size: cover;
    background-position: center;
    color: #ffffff;
    font-family: 'Arial', sans-serif !important;
}

/* Cabecera  */
.navbar {
    background-color: rgba(52, 58, 64, 0.8); 
    z-index: 1000; 
}

.navbar-brand img {
    height: 40px;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
}


.text-style {
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    padding: 50px;
    max-width: 100%;
    height: 600px; 
    margin: 0 auto;
    text-align: center;
    background-image: url('../img/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

h1, .text-style, .social-media {
    position: relative;
    z-index: 2;
}

h1 {
    margin: 0 0 20px !important;
    font-size: 50px !important; 
    text-align: center;
    padding-top: 150px  !important;
    font-weight: bold !important;
    color: #ffffff; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    letter-spacing: 2px;
}

.text-style {
    color: white;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px !important;
}

.social-media {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
}

.social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.social-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.social-icon:hover img {
    opacity: 0.8;
}

/* Estilos para el botón de cerrar (X) */
.close {
    color: #aaa; 
    position: absolute; 
    top: 10px; 
    right: 15px; 
    font-size: 28px; 
    font-weight: bold; 
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Contenido del modal */
.modal-content {
    background-color: #fff; /* Fondo blanco */
    padding: 15px 30px; /* Espaciado interno */
    border-radius: 30px !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra suave */
    width: 80%;
    max-width: 500px; 
    text-align: center;
    position: fixed; /* Para centrar el modal en la pantalla */
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 10000; /* Asegura que esté sobre otros elementos */
}

/* Fondo del modal (oscuro) */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo para que cubra toda la pantalla */
    z-index: 9999; /* Debajo del contenido del modal */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    backdrop-filter: blur(5px); /* Desenfoque del fondo */
    justify-content: center;
    align-items: center;
}

/* Estilo para el botón de descarga */
.download-button {
    display: inline-block;
    background-color: #007bff; /* Azul */
    color: #fff;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
}

.download-button:hover {
    background-color: #0056b3; /* Azul oscuro */
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 123, 255, 0.4);
}

.modal-content h2 {
    font-family: 'Poppins', sans-serif; /* Tipografía moderna */
    color: #000020; /* Color azul oscuro */
    font-size: 32px; /* Tamaño de fuente más grande */
    margin-top: 15px;
    margin-bottom: 15px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    letter-spacing: 1px; /* Espaciado entre letras */
    font-weight: 600; /* Peso de la fuente */
}

.modal-content p {
    font-family: 'Roboto', sans-serif; /* Tipografía moderna */
    color: #555; /* Color gris oscuro */
    font-size: 18px; /* Tamaño de fuente más grande */
    line-height: 1.7; /* Mejor espaciado de líneas */
    margin-top: 5px; /* Más espacio abajo */
    margin-bottom: 5px; /* Más espacio abajo */
    text-align: justify; /* Texto justificado */
    transition: color 0.3s ease; /* Transición de color */
}

.modal-content p:hover {
    color: #2c3e50; /* Cambia el color cuando se pasa el ratón */
}


.button-container {
    display: flex;
    justify-content: center;
    gap: 15px; /* Espacio entre los botones */
    margin-top: 20px; /* Espacio arriba de los botones */
}

/* Estilo general para los botones */
.download-button {
    display: flex; /* Para alinear el icono y el texto */
    align-items: center; /* Centra el icono verticalmente */
    justify-content: center; /* Centra el texto horizontalmente */
    background-color: #007bff; /* Color de fondo por defecto */
    color: #fff;
    padding: 12px 20px; /* Espaciado interno */
    border-radius: 30px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
}

/* Botón de Apple */
.apple-button {
    background-color: #000; /* Color representativo de Apple */
}

/* Botón de Android */
.android-button {
    background-color: #34b54b; /* Color representativo de Android */
}

/* Efectos al pasar el mouse sobre los botones */
.download-button:hover {
    background-color: #0056b3; /* Azul oscuro para el hover general */
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 123, 255, 0.4);
}

.apple-button:hover {
    background-color: #333; /* Color más oscuro de Apple al hacer hover */
}

.android-button:hover {
    background-color: #3DDC84; /* Color más oscuro de Android al hacer hover */
}

/* Iconos de los sistemas operativos */
.os-icon {
    width: 22px; /* Tamaño del icono */
    height: auto; /* Mantiene la relación de aspecto */
    margin-right: 10px; /* Espacio entre icono y texto */
}

/* Texto "Próximamente en PlayStore" */
.coming-soon {
    margin-top: 15px; /* Espacio superior */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
    color: #FF5733; /* Color llamativo para el texto */
    text-align: center; /* Centrado */
}

.google-play-container {
    background-color: #0d110e; /* Fondo verde de Google Play */
    border-radius: 30px; /* Bordes redondeados */
    padding: 10px 10px; /* Espaciado interno */
    margin: 15px auto; /* Espacio superior y centrado horizontal */
    color: white; /* Color del texto */
    justify-content: center; /* Alinea el contenido horizontalmente */
    display: flex; /* Para alinear la imagen y el texto */
    align-items: center; /* Alinea verticalmente */
    width: 60%; /* Ancho del contenedor */
}

.google-play-text {
    font-weight: bold; /* Texto en negrita */
    font-size: 16px; /* Tamaño de fuente */
}

.no-scroll {
    overflow: hidden;
}

/* Carrusel */

/* .carousel {
    overflow: hidden; 
}

.carousel-item {
    height: auto; 
    padding: 0; 

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 10px;
    margin-bottom: 0; 
    font-size: 1.2rem;
    position: relative; 
    top: 0;
    left: 0;
    right: 0;
    padding: 10px; 
}

.carousel-caption h5 {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
}

.carousel-caption p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2rem;

    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    text-align: justify;
}

.carousel-indicators li {
    background-color: #000; 
    border-radius: 50%;
    width: 20px !important;
    height: 20px !important;
}

.carousel-indicators .active {
    background-color: #1d24ca; 
}

.carousel-indicators {
    background-color: #d80032; 
}

.carousel-item img {
    height: auto; 
    width: 100%; 
    object-fit: cover; 
} */

/* Servicios */
.service_section {
    padding: 20px 0; /* Menos espacio para que parezca más pequeña */
    background-color: #f9f9f9;
    opacity: 0; /* Ocultar la sección inicialmente */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transición suave */
    transform: scale(0.3); /* Comenzar con la sección al 30% del tamaño */
    transform-origin: center; /* El origen de transformación es el centro */
}

.service_section.visible {
    opacity: 1; /* Mostrar la sección */
    transform: scale(1); /* Escalar al tamaño normal */
}




.custom_heading {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #000;
}

.custom_heading span {
    color: #d80032;
}

.col-md-4 {
    color: #000;
    text-align: center;
    margin-bottom: 20px 
    
}

.col-md-4 h6 {
    font-size: 20px;
    font-weight: bold;
}

.col-md-4 p {
    font-size: 16px;
    color: #333; 
    text-align: justify;
}

/* Galería */
.gallery_section {
    padding: 20px 0;
    background-color: #f3f4f6;
}

.section_heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 40px;
    position: relative;
}
.section_heading::after {
    content: '';
    width: 60px;
    height: 4px;
    background-color: #007bff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}

 .gallery_img-box {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.gallery_img-box img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.gallery_img-box:hover img {
    transform: scale(1.05);
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    text-align: center;
}

.lightbox img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 80vh;
    border-radius: 8px;
}

.lightbox:target {
    display: block;
}

.lightbox .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.lightbox .close:hover,
.lightbox .close:active {
    color: red;
}

#gallery {
    scroll-margin-top: 100px;
}

/* equipo */
.equipo_img-box {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    transition: transform 0.3s ease;
    width: 200px; /* Aumenta el ancho */
    height: 200px; /* Aumenta la altura */
}

.equipo_img-box img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    
}

.equipo_img-box:hover img {
    transform: scale(1.1);
}

.equipo_img-box .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.equipo_img-box:hover .overlay {
    opacity: 1;
}

.overlay .text {
    color: white;
    font-size: 0.8rem; 
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.overlay .text h5 {
    font-size: 18px; 
}

.overlay .text p {
    font-size: 8 px;
}

.custom_heading span {
    color: #d80032; 
    font-weight: bold;
}

.equipo_section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f9f9f9;
}

.shadow-lg {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Mapa */
#location-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    background-color: #d80032; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    z-index: 1000;
    transition: background-color 0.3s;
}

#location-icon:hover {
    background-color: #d80032; 
}

#map {
    position: fixed;
    bottom: 20px;  
    right: 20px;   
    width: 300px;  
    height: 300px;
    z-index: 1000; 
    border: 2px solid #ddd;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 15px;
    overflow: hidden; 
}

.info_box {
    background-color: white;
    padding: 10px;
    border-radius: 10px; 
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 80%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.info_box p {
    color: black;
    font-size: 1em;
    margin: 0
}

#close-map {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #d80032;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px 10px;
    z-index: 1001;
    font-size: 16px; 
}

#close-map:hover {
    background: darkblue; 
}

/* Informacion de contacto */
.info_section {
    background-color: #1d24ca; 
    padding: 40px 0;
    color: #fff;
    text-align: center;
}

.info_items {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 0;
}

.item {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin: 0 10px; 
}

.detail-box p {
    max-width: 150px; 
    margin: 0;
}


.img-box {
    margin-bottom: 5px;
}

.detail-box p {
    max-width: 500px;
    text-align: center; 
}

/* Pie de página */
.footer_section {
    background-color: #ffffff;
    padding: 6px; 
    text-align: center;
    color: #343a40;
}

.brand-name {
    font-weight: bold;
    font-size: 1.5em; 
    margin: 10px 0;
    color: #1d24ca;
}

.brand-name2 {
    font-weight: bold;
    font-style: italic;
    color: d80032;
    font-size: 1.3em;
    margin: 5px 0; 
    color: #d80032; 
}

.footer_section p {
    margin: 10px 0; 
    font-size: 1em;
    line-height: 1.5;
}

.footer_section a {
    color: #1d24ca; 
    text-decoration: none; 
}

.footer_section a:hover {
    text-decoration: underline; 
}



/* Responsive */
@media (max-width: 768px) {
    .content {
        padding: 20px;
    }

    .navbar-brand img {
        height: 35px;
        width: 95%;
    }

    h1 {
        font-size: 36px !important; 
        line-height: 1.2;
        white-space: normal;
    }

    .custom_heading {
        font-size: 28px;
    }
    .modal-content {
        width: 70%; /* Ajusta el ancho para pantallas medianas */
    }
    .service_section {
        transform: scale(0.4); /* Escala más grande para móviles */
    }

    .detail_box h6 {
        font-size: 18px;
    }

    .detail_box p {
        font-size: 14px;
    }

    .equipo_img-box {
        width: 80%;
        height: 100%; 
        background-color: #f3f3f3; 
        border-radius: 50%; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto; 
        
    }
    
    
    .equipo_img-box img {
        object-fit: cover; 
        border-radius: 50%; 
    }
    

    .col-sm-4 {
        max-width: 150px;
    }
    .overlay .text {
        font-size: 8px; /* 0.5rem convertido a píxeles */
    }
    
    .overlay .text h5 {
        font-size: 28px; /* 0.7rem convertido a píxeles */
    }
    
    .overlay .text p {
        font-size: 22px; /* 0.7rem convertido a píxeles */
    }
    
    .info_items {
        flex-direction: column;
    }

    .item {
        max-width: 100%;
        margin-bottom: 30px;
    }

    
    p {
        font-size: 1.1em;
        width: 95%;
    }
    .content {
        padding: 10px;
    }

    .social-icons a {
        font-size: 20px;
        margin: 0 5px;
    }

    .footer_section {
        padding: 5px;
    }

    .social-icons {
        margin-bottom: 10px;
    }

    .footer_section p {
        font-size: 14px;
    }
}

/* Ajuste del modal para pantallas pequeñas */
@media (max-width: 576px) {
    .modal-content {
        width: 90%; /* Aumenta el ancho para pantallas pequeñas */
        max-width: 90%;
        padding: 10px 20px; /* Reduce el padding interno */
    }

    .modal-content h2 {
        font-size: 24px; /* Ajusta el tamaño de la fuente del título */
    }

    .modal-content p {
        font-size: 16px; /* Ajusta el tamaño de la fuente del párrafo */
    }

    .button-container {
       
        width: 100%;
        align-items: center;
    }

    .google-play-container {
        width: 80%; /* Ajusta el ancho del contenedor de Google Play */
    }
}


@media (min-width: 992px) {
    .modal-content {
        width: 50%; /* Ajusta el ancho para pantallas más grandes */
    }
}


/* Ajustes para pantallas medianas (por ejemplo, tabletas) */
@media (min-width: 769px) and (max-width: 1024px) {
    .service_section {
        transform: scale(0.3); /* Mantener el tamaño para tabletas */
    }
}

/* Ajustes para pantallas grandes (por ejemplo, escritorio) */
@media (min-width: 1025px) {
    .service_section {
        transform: scale(0.3); /* Mantener el tamaño para escritorios */
    }
}